.slick-list {
    background-color: #222;
    padding-top: 20px;
}

.slick-disabled {
    opacity: 0;
    pointer-events: none;
}

@media (max-width:600px) {
    .slick-list {
        mask: none;
        -webkit-mask: none !important;
    }
}