html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.slick-dots {
  bottom: -5px;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.slick-dots li button:before {
  opacity: 1;
  font-size: 10px;
  color: #4D4D4D;
}